# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
/prisma/migrations/

# backups (อย่า commit ไฟล์ backup)
/backups/

# os
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*